.container {
     margin: 80px 0;
 }

.main {
    max-width: 1200px;
    margin: 10px auto;
    padding: 10px;

}

.tool-card-wrapper {
    width: 280px;
    padding: 10px;
    box-sizing: border-box;
}

.tool-card {
    width: 100%;
    height: 100%;
}

.heading {
    font-size: 32px;
    margin: 8px 25px;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

.flex-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}

.card-title {
    text-align: center;
}

.cover-img {
    border-bottom: 1px solid #ccc;
    /*box-shadow: inset 0 -2px #ccc;*/
}

.tool-card :global .ant-card-body{
    padding: 3px;
}

.tool-card hr {
    margin: 4px;
}

.tool-card p {
    text-align: center;
    margin: 4px;
}

.tool-card h3 {
    text-align: center;
}

.tool-card a {
    color: black;
}

.tool-card a:hover {
    text-decoration: none;
}
