:global .gem-table-odd {
    background: #fff;
}

:global .gem-table-even {
    background: #fcfcfc;
}

.gem-card * {
    font-family: '宋体';
}

.gem-card :global .ant-table-thead tr th {
    background: #f2f2f2;
}