.map-wrapper {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background: url(../../assets/imgs/map_bg.jpg) repeat;
}

:global .leaflet-tile-container {
    pointer-events: auto !important;
}

:global .popup-content {

}

:global .popup-content :global .leaflet-popup-content-wrapper {
    border-radius: 5px;
    padding: 3px;
}

:global .popup-content :global .leaflet-popup-content {
    margin: 0;
}

:global .pos-name-marker {
    border-style: solid;
    border-width: 17px 21px 19px;
    -moz-border-image: url(../../assets/imgs/icons/pos_border.png) 17 21 19 repeat;
    -webkit-border-image: url(../../assets/imgs/icons/pos_border.png) 17 21 19 repeat;
    -o-border-image: url(../../assets/imgs/icons/pos_border.png) 17 21 19 repeat;
    border-image: url(../../assets/imgs/icons/pos_border.png) 17 21 19 fill repeat;
    width: 56px !important;
    font-size: 14px !important;
    line-height: 14px;
    font-weight: bold;
    text-orientation: upright;
    height: auto !important;
}

.mobao-table td:first-child {
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

.sea-collect-table td:first-child {
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}
