.wuxia-modal-wrapper :global .modal-content {
    background: transparent;
    border: none;
    box-shadow: none;
}

.wuxia-modal {
    background: transparent;
}

.school-config-btn {
    text-align: center;
}

.remove-data-div {
    margin: 10px 0;
    text-align: center;
}

.config-selector-menu {
    background: #0e3049;
    width: 54px;
    min-width: auto;
}

.config-selector-menu li a {
    color: #fff;
}

.xinfa-props-tabs :global .nav-tabs li a {
    color: #fff;
    padding: 5px;
}

.xinfa-props-tabs li.active a:focus {
    color: #fff;
}

.xinfa-props-tabs :global .nav-tabs li.active a,
.xinfa-props-tabs :global .nav-tabs li.active a:focus,
.xinfa-props-tabs :global .nav-tabs li.active a:hover
{
    color: #fff;
    background: #2d5271;
}

.xinfa-props-tabs :global .nav-tabs li a {
    background: transparent;
}