.panel {
    border-style: solid;
    border-width: 21px 115px;
    -moz-border-image: url(../assets/imgs/panel_border_body.png) 21 115 stretch;
    -webkit-border-image: url(../assets/imgs/panel_border_body.png) 21 115 stretch;
    -o-border-image: url(../assets/imgs/panel_border_body.png) 21 115 stretch;
    border-image: url(../assets/imgs/panel_border_body.png) 21 115 fill stretch;

    position: relative;

    margin-top: 15px;
}

.panel-title {
    min-width: 200px;
    height: 37px;

    border-style: solid;
    border-width: 0 42px;
    -moz-border-image: url(../assets/imgs/panel_border_title.png) 0 42 stretch;
    -webkit-border-image: url(../assets/imgs/panel_border_title.png) 0 42 stretch;
    -o-border-image: url(../assets/imgs/panel_border_title.png) 0 42 stretch;
    border-image: url(../assets/imgs/panel_border_title.png) 0 42 fill stretch;

    position: absolute;
    top: -40px;
    left: 50%;
    transform: translate(-50%, 0);

    font-size: 16px;
    line-height: 30px;
    color: #FFF;
    text-shadow: #000 1px 1px 1px;
    padding: 4px 10px 2px 10px;
    text-align: center;
}

.panel-body {
    margin: 0 -90px;
    color: #FFF;
}

.panel-body-wrapper{
    margin: 0;
    position: relative;
}

.close-btn {
    position: absolute;
    top: -18px;
    right: -110px;
    color: #fff;
    width: 24px;
    cursor: pointer;
    background: #09191d;
    border: 2px solid #346d8c;
    border-radius: 12px;
    font-size: 10px;
    line-height: 20px;
    text-align: center;
}