.error-container {
    text-align: center;
    height: 100vh;
    background-color: #2D72D9;
    color: #fff;
}

.error-container h1 {
    padding: 15vh 0 0;
    color: #fff;
    font-size: 30vw;
    font-weight: 300;
    margin: 0;
}

.return {
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    letter-spacing: -0.04em;
    margin: 0;
    font-size: 22px;
}

.return a {
    padding-bottom: 1px;
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
    -webkit-transition: border-color 0.1s ease-in;
    transition: border-color 0.1s ease-in;
}

.return a:hover {
    border-bottom-color: #fff;
}