.container {
     margin: 10px 0;
     /*background: url('../../assets/imgs/ui/background.jpg') no-repeat #ececec;*/
     /*background-attachment: fixed;*/
     /*background-position: center bottom;*/
     /*background-size: cover;*/
 }

:global .line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
}
:global .zoom {
    cursor: move;
    fill: none;
    pointer-events: all;
}