.container {
     margin: 80px 0;
 }

.skill-tabs :global .tab-content {
    padding: 20px 0;
}

.skill-btn {
    margin: 10px 0 0;
    background: #fff;
    border: 1px solid #bbb;
    border-right-width: 0;
    white-space: nowrap;
    padding: 4px 8px;
    display: inline-block;
}

.skill-btn-active {
    background: #286090;
    color: #fff;
}

.skill-btn:last-child {
    border-right: 1px solid #bbb;
}

.props-table tr td:first-child {
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
}

.slider :global .rc-slider-track {
    background: #6464cc;
}