.affix-cascader {
    width: 100%;
}

:global .ant-cascader-menu {
    height: auto;
}

.affix-name {
    text-shadow: 1px 1px 3px #000;
    box-shadow: 2px 2px 3px #ccc;
    border-radius: 5px;
    padding: 5px 12px;
    background: #000;
}