html {
    font-size: 16px;
}

:global .module-cmt-notice {
    display: none;
}

:global .module-person-page-prompt {
    display: none;
}

:global body {
    font-size: 14px;
}

:global * {
    font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", sans-serif;
}

:global #global-navbar {

}

:global #global-navbar  {

}

@media (min-width: 768px) {
    :global #global-navbar .container {
        width: 100%;
    }
    :global #global-navbar .nav li a {
        padding: 15px 6px;
    }
}

@media (min-width: 992px) {
    :global #global-navbar .container {
        width: 100%;
    }
    :global #global-navbar .nav li a {
        padding: 15px 12px;
    }
}

@media (min-width: 1200px) {
    :global #global-navbar .container {
        width: 1170px;
    }
    :global #global-navbar .nav li a {
        padding: 15px 15px;
    }
}

:global table.dd-table {
    border-collapse: collapse;
}

:global table.dd-table td {
    border: 1px solid #ddd;
    padding: 2px 10px;
    text-align: center;
}

:global table.dd-table th {
    font-weight: bold;
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

:global table.dd-table thead tr{
    background-color: #f2f2f2;
}

:global table.dd-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

:global table.dd-table :global .dark{
    background-color: #f2f2f2;
}

:global table.dd-table :global .light{
    background-color: #fff;
}

/* bootstrap 4 样式兼容3 */
:global .btn {
    white-space: nowrap;
}

:global .btn.btn-primary {
    font-size: 12px;
    background: #286090;
    border: 1px solid #2d6a93;
}

:global .btn.btn-default {
    font-size: 12px;
    background: #fff;
}

:global .dropdown-menu :global .drop-item {
    font-size: 12px;
}

:global .dropdown-item {
    font-size: 12px;
}