html {
    font-size: 16px;
}

:global .module-cmt-notice {
    display: none;
}

:global .module-person-page-prompt {
    display: none;
}

:global body {
    font-size: 14px;
}

:global * {
    font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", sans-serif;
}